<ion-header>
    <ion-navbar>
        <ion-title>
        <p color="detail">Clientes</p>
        </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <div class="fundoInicial" *ngIf="clientes.length == 0">
       <img src="assets/img/fundo_app.png"/> 
    </div>
  
    <div *ngIf="clientes.length > 0">
      <ion-list *ngFor="let cliente of clientes">
        <ion-item-sliding >
          <ion-item (click)="seleciona(cliente)">
  
            <div *ngIf="cliente.img == null">
              <ion-avatar *ngIf="cliente.sexo == 'm'" item-left> 
                <img src="assets/imgs/semImagemMasculino.jpg">
              </ion-avatar>

              <ion-avatar *ngIf="cliente.sexo == 'f'" item-left> 
                <img src="assets/imgs/semImagemFeminino.jpeg">
              </ion-avatar>
            </div>
            
  
            <ion-avatar *ngIf="cliente.img != null" item-left>
              <img [src]="cliente.img">
            </ion-avatar>
  
            <h2 color="twitterDarkBlue">{{cliente.nomeCompleto}}</h2>
            <p>Celular: {{cliente.celular}}</p>
            <p>Email: {{cliente.email}}</p>
          </ion-item>
  
          <ion-item-options>
            <button ion-button color="danger" (click)="confirmarOperacao(cliente)">
              <ion-icon ios="ios-trash" md="md-trash"></ion-icon> Excluir
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
  
    <ion-fab right bottom>
      <button ion-fab color="#00aced" (click)="cadastrar()">
        <ion-icon ios="ios-add" md="md-add"></ion-icon>
      </button>
    </ion-fab>
  
    <ion-fab left bottom>
      <button ion-fab color="search-buttom" (click)="pesquisar()">
        <ion-icon ios="ios-search" md="md-search"></ion-icon>
      </button>
    </ion-fab>
  
  </ion-content>
  